rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read/write access to all authenticated users for all files
    // This is a permissive rule, you may want to restrict it further
    // for example, only allow users to read/write their own files.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
